* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F8F8F8;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -3px;
    position: relative;
    margin-left: 2.2vw;
}

#nav h1::after {
    content: "©";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1B1B1B;
    position: absolute;
    top: 0;
    right: 0%;
    transform: translate(-50%, 20%);
}

#nav h1::before {
    content: "model management";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    color: #666;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-28%, -42%);
}

#nav h2 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 26px;
    font-weight: 500;
    color: #161616;
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
    border-right: none;
    padding-right: 4vw;
}

#center {
    height: 90%;
    width: 100%;
    padding: 4vw;
    padding-bottom: 1vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 56%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #FFFFFF;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.6vw;
    /* font-weight: 600; */
}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border: 1px solid #fff;
    border-radius: 50%;
    /* border-bottom: 5px solid #fff; */
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0.4s;
}

#scroll img {
    height: 95%;
    width: 15%;
    border-radius: 50%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 4px));
    }
}

#alphabet {
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
    margin-top: 2vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5 {
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    cursor: pointer;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}

#alphabet h6 {
    color: #1B1B1B;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.6vw 0.8vw;
    cursor: pointer;
    border: 1px solid #00000000;
    border-radius: 50%;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 1px solid #000;
}

#alphabet h6:nth-child(9) {
    color: #B2B2B2;
}

#alphabet h6:nth-child(11) {
    color: #B2B2B2;
}

#alphabet h6:nth-child(15) {
    color: #B2B2B2;
}

#alphabet h6:nth-child(18) {
    color: #B2B2B2;
}

#alphabet h6:nth-child(22) {
    color: #B2B2B2;
}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    gap: 2vw;
    margin: 3vw 0;
}

#page2-part1 {
    height: 100%;
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2-part2 {
    height: 100%;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#page2-part2 img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#part2-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1vw 0;
}

#part2-detail h5 {
    font-size: 1.4vw;
    font-weight: 600;
    height: 100%;
    width: 55%;
}

#part2-detail p {
    font-size: 1vw;
    font-weight: 500;
    height: 100%;
    width: 45%;
    color: #161616;
}

#page3 {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2vw 4vw;
}

#page3-heading {
    height: 6vw;
    width: 100%;
}

#page3-heading h1 {
    font-family: monument;
    font-size: 3vw;
    text-transform: uppercase;
}

#page3-content {
    height: calc(100% - 6vw);
    width: 100%;
    display: flex;
}

#page3-left {
    height: 100%;
    width: 40%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#circularText {
    height: 24vw;
    width: 24vw;
    position: absolute;
}

#rightArrow {
    height: 7vw;
    width: 7vw;
    position: relative;
    top: 26%;
    left: -1%;
}

#page3-left h4 {
    font-size: 2vw;
    font-weight: 500;
}

#page3-right {
    height: 100%;
    width: 60%;
}

#page3-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 24%;
}

#page3-part2 {
    height: 90%;
    width: 100%;
    position: relative;
    padding: 2vw 4vw;
}

#page3-part2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 25%;
    position: relative;
}


#page4 {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
}

#page4>h1 {
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 600; */
    margin-bottom: 7vh;
}

#page4 h1 {
    font-size: 2.7vw;
    font-weight: 500;
}

#page4 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem {
    height: 15.5vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}

.elem img {
    height: 6.5vw;
    width: 6.5vw;
    position: absolute;
    border-radius: 50%;
    left: 14%;
    opacity: 0;
    transition: all ease 0.7s;
    object-fit: cover;
    object-position: top;
}

.elem h4 {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem-part2 {
    width: 45%;
}

.elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid #000;
}

.elem:nth-child(3) img {
    left: 42%;
}

.elem:hover img {
    opacity: 1;
    left: 28%;
}

#page5 {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page5-left {
    height: 100%;
    width: 50%;
    padding-right: 2vw;
}

#page5-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 60%;
}

#page5-right {
    height: 100%;
    width: 50%;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#page5-right h1{
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
}

#page5-right h4 {
    font-size: 2vw;
    font-weight: 500;
}

#page5-right h6 {
    font-size: 1vw;
    font-weight: 500;
    width: 95%;
}

#page5-photos {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

#page5-photos img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    object-position: 0 25%; 
}

#page6 {
    height: 85%;
    width: 100%;
    position: relative;
    padding: 1vw 4vw;
}

#page6 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page7 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    gap: 2vw;   
    margin: 3vw 0;
}

#page7-part1 {
    height: 100%;
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1729116029932-4423eb785cbb?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}

#page7-part2 {
    height: 100%;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#page7-part2 img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: 0 25%;
}

#part7-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1vw 0;
}

#part7-detail h5 {
    font-size: 1.4vw;
    font-weight: 600;
    height: 100%;
    width: 55%;
}

#part7-detail p {
    font-size: 1vw;
    font-weight: 500;
    height: 100%;
    width: 45%;
    color: #161616;
}

#marquee {
    height: fit-content;
    width: 100%;
    padding: 0.8vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marquee h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

#page8 {
    margin-top: 1vw;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page8 h1 {
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
}

#page8-details {
    height: 60%;
    width: 80%;
    display: flex;
    gap: 4vw;
}

#page8-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 4vw;
}

#page8-details h3 {
    font-size: 2vw;
    width: 85%;
    font-weight: 500;
}

#page8-details img {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    object-position: center;
}

#page8-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 4vw;
}

#page9 {
    height: 40%;
    width: 100%;
}

#footer {
    height: 85%;
    width: 100%;
    margin-top: 3vw;
    /* padding: 0 3.5vw; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer h1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -3px;
    position: relative;
    padding-top: 15px;
    padding-right: 30px;
    margin-left: 4vw;
}

#footer h1::after {
    content: "©";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1B1B1B;
    position: absolute;
    top: 0;
    right: 0%;
    transform: translate(-120%, 50%);
}

#footer h1::before {
    content: "model management";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    color: #666;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-34%, -860%);
}

#footer h2 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid #000;
    padding: 30px 40px;
    font-size: 26px;
    font-weight: 500;
    color: #161616;
}

#footer-contant {
    height: 100%;
    width: 40%;
}

#footer-top h2 {
    width: 100%;
    height: 50%;
    border-right: none;
    border-bottom: 2px solid #000;
}

#footer-bottom {
    width: 100%;
    height: 60%;
    padding-left: 3vw;
    padding-top: 1.5vw;
}

#footer-bottom p {
    font-size: 1vw;
}

#icons {
    padding-bottom: 1vw;
}

#icons i {
    font-size: 1.5vw;
    padding-right: 15px;
}

